Write a GitHub search query based on the code and conversation context. Format for GitHub's search.

For example:
Input:
Given an array of integers, calculate the ratios of its elements that are , , and

. Print the decimal value of each fraction on a new line with 6 places after the decimal.

``
;
; Complete the 'plusMinus' function below.
;
; The function accepts INTEGER_ARRAY arr as parameter.
;

(defn plusMinus [arr]
  (format)
)

(def n (Integer/parseInt (clojure.string/trim (read-line))))

(def arr (vec (map #(Integer/parseInt %) (clojure.string/split (clojure.string/trimr (read-line)) #" "))))

(plusMinus arr)
``
Output:
```
defn plusMinus language:Clojure
```

Return only the search query wrapped in a codeblock. 
